services:
	nette.latteFactory:
		setup:
			- addFilter('czechMonth', [@czechMonthFilter, 'process'])
			- addFilter('email', [@emailFilter, 'process'])
			- addFilter('mtime', [@mtimeFilter, 'process'])