services:
	nette.latteFactory:
		setup:
			- addFilter('czechMonth', [@Wavevision\LatteFilters\CzechMonth\CzechMonth, 'process'])
			- addFilter('email', [@Wavevision\LatteFilters\Email\Email, 'process'])
			- addFilter('mtime', [@Wavevision\LatteFilters\Mtime\Mtime, 'process'])